@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #04041c;
}

body {
  font-family: "Kode Mono";
  color: #fff;
  font-size: 1rem;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.top-bar h1 {
  color: rgb(245, 132, 32);
  font-family: "Kode Mono";
  font-size: 50px;
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  padding: 1rem 2rem;
}

.balance {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 450px;
  background-color: #333;
  border-radius: 5px;
  border: 2px solid rgb(245, 132, 32);
}

.form-control {
  margin-bottom: 1rem;
}

input {
  font-family: "Kode Mono";
  padding: 15px 20px;
  outline-color: rgb(245, 132, 32);
  outline: none;
  background: #333;
  border-radius: 5px;
  color: #fff;
  border: 2px solid rgb(245, 132, 32);
  font-size: 1em;
  width: 450px;
  }
#amount {
  margin-top: 1em;
}

::placeholder {
  color: #fff;
}

#blockNumber {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 450px;
  background-color: #333;
  border-radius: 5px;
  border: 2px solid rgb(245, 132, 32);
}

#trx {
  display: flex;
  margin-top: 1em;
  padding: 1em;
  width: 450px;
  background-color: #333;
  border-radius: 5px;
  border: 2px solid rgb(245, 132, 32);
  overflow: auto;
  font-size: 1em;
}

button {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  font-family: "Kode Mono";
  border: 0;
  background: #333;
  color: #f4f4f4;
  min-width: 150px;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background: radial-gradient(circle, rgba(245, 132, 32, 1) 0%, rgba(119, 62, 26, 1) 100%);
}


